body {
    font-family: Arial, sans-serif;
}

.header {
    grid-area: header;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1,
h2 {
    color: red;
}

figcaption {
    text-align: left;
}

blockquote {
    font-style: italic;
}

nav {
    grid-area: nav;
}

nav h2 {
    color: black;
    text-indent: 1.6em;
    text-decoration: underline;
}

article {
    border: solid;
    border-color: grey;
    padding: 5px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: stretch;

}

.categories {
    color: darkblue;
}

.footer {
    grid-area: footer;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}